@font-face {
  font-family: "DroidSans";
  src: url(https://fonts.googleapis.com/css?family=Droid+Sans);
}

/* line 6, ../scss/style.scss */
h1, h2, h3, h4, h5, h6, p, b, i {
  font-family: Droid Sans;
  color: black;
}

/* line 11, ../scss/style.scss */
body hr {
  border: 1px solid;
}
/* line 15, ../scss/style.scss */
body header img {
  width: 100%;
}
/* line 18, ../scss/style.scss */
body header nav {
  position: fixed !important;
  z-index: 100;
  top: 0;
  width: 100%;
  height: 3em;
}
/* line 24, ../scss/style.scss */
body header nav img {
  margin-top: 0em;
  width: auto;
  height: 1.6em;
}
/* line 30, ../scss/style.scss */
body header .mySlides {
  top: 3em;
}
/* line 34, ../scss/style.scss */
body main {
  margin-top: 2em;
}
/* line 38, ../scss/style.scss */
body main div .col-lg-12 img {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
/* line 46, ../scss/style.scss */
body main div section p {
  color: darkgray;
}
/* line 50, ../scss/style.scss */
body main div hr {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* line 54, ../scss/style.scss */
body main div img {
  align-items: center;
  width: 92%;
}

/* line 61, ../scss/style.scss */
footer {
  background-color: #333333;
  margin-top: 2em;
}
/* line 66, ../scss/style.scss */
footer .container #pris p {
  margin-left: 20%;
  font-family: Droid Sans;
  font-size: 0.8em;
}
/* line 72, ../scss/style.scss */
footer .container #krone {
  width: 20%;
  float: left;
}
/* line 76, ../scss/style.scss */
footer .container #midt {
  width: 100%;
}
/* line 79, ../scss/style.scss */
footer .container #iso {
  width: 20%;
  float: left;
}
/* line 83, ../scss/style.scss */
footer .container p {
  color: white;
}
/* line 86, ../scss/style.scss */
footer .container span {
  color: white;
}
/* line 89, ../scss/style.scss */
footer .container h5 {
  color: white;
}
/* line 92, ../scss/style.scss */
footer .container h6 {
  font-size: 1.5em;
  color: white;
}
/* line 96, ../scss/style.scss */
footer .container section {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 99, ../scss/style.scss */
footer .container section h4 {
  float: left;
  color: white;
}
/* line 103, ../scss/style.scss */
footer .container section p {
  padding-left: 15px;
  color: white;
}

/* line 110, ../scss/style.scss */
#del1 {
  float: left;
  width: 50%;
}

/* line 114, ../scss/style.scss */
#del2 {
  float: right;
  width: 50%;
}

/* line 118, ../scss/style.scss */
input {
  margin-bottom: 1em;
}

/* line 121, ../scss/style.scss */
textarea {
  margin-bottom: 1em;
}

/* line 125, ../scss/style.scss */
a img {
  width: 30%;
}

/* line 129, ../scss/style.scss */
navbar {
  opacity: 1;
}

/* line 132, ../scss/style.scss */
#myNavbar {
  background-color: whitesmoke;
}
/* line 135, ../scss/style.scss */
#myNavbar li ul {
  opacity: 1;
}
/* line 137, ../scss/style.scss */
#myNavbar li ul li {
  display: block;
}

@media screen and (min-width: 768px) {
  /* line 145, ../scss/style.scss */
  nav ul li:hover > ul {
    display: block;
  }
}
@media screen and (max-width: 991px) {
  /* line 152, ../scss/style.scss */
  nav .container {
    width: 100%;
  }
}
/* line 158, ../scss/style.scss */
.w3-content {
  max-width: 980px;
  margin: auto;
}

/* line 159, ../scss/style.scss */
.w3-section {
  margin-top: 16px!important;
  margin-bottom: 16px!important;
}

/* line 160, ../scss/style.scss */
.w3-animate-fading {
  -webkit-animation: fading 10s infinite;
  animation: fading 10s infinite;
}

@-webkit-keyframes fading {
  /* line 161, ../scss/style.scss */
  0% {
    opacity: 0;
  }

  /* line 161, ../scss/style.scss */
  50% {
    opacity: 1;
  }

  /* line 161, ../scss/style.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fading {
  /* line 162, ../scss/style.scss */
  0% {
    opacity: 0;
  }

  /* line 162, ../scss/style.scss */
  50% {
    opacity: 1;
  }

  /* line 162, ../scss/style.scss */
  100% {
    opacity: 0;
  }
}

/* line 164, ../scss/style.scss */
iframe {
  width: 100%;
  height: 350px;
}
